* {
    box-sizing: border-box;
}

.modal-container {
    position: fixed;
    line-height: 1.5;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 350px;
    max-width: 100%;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

.modal-header {
    text-align: left;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #e8e8e8;
    align-content: center;
    padding-bottom: 10px;
}

.modal-user-name,
.modal-user-email,
.modal-user-phone,
.modal-user-website {
    padding: 15px;
    color: rgba(0, 0, 0, .85);
    
}

.modal-user-name:before,
.modal-user-email:before,
.modal-user-phone:before,
.modal-user-website:before {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.modal-content>label {
    text-align: right;
}

#inputBox {
    color: rgba(0, 0, 0, .65);
    padding: 5px;

}

#close {
    cursor: pointer;
    border: none;
    background: none;
    float: right;
    color: rgba(0, 0, 0, .65);
}

.modal-footer {
    /* float: right; */
    border: none;
    border-top: 1px solid #e8e8e8;
    padding-top: 10px;
}

.modal-footer button, #ok{
    padding: 0 10px;
    height: 32px;
    float: right;
    color: #e8e8e8;
    border: 1px solid #1890ff;
    background-color: #1890ff;
    border-radius: 4px;
    cursor: pointer;
}

.modal-footer #cancel {
    margin-right: 12px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0, 0, 0, .65);
    background-color: #fff;
    border: 1px solid #d9d9d9;
}